.front #logo img {
  margin-left: 5px;
  margin-top: 5px;
  vertical-align: bottom;
}

.not-front #page {
  /*position: relative;
  right: 12px;*/
}

.front ul.social-sites {
  left: 965px;
  position: relative;
  top: 15px;
}

ul.social-sites {
  left: 956px;
  position: relative;
  top: 15px;
}

ul.social-sites li {
  float: left;
  padding-right: 10px;
}

img, div { 
  behavior: url("../iepngfix/iepngfix.htc");
}
  
/* slide show */
#slide-show {
  background-attachment: scroll;
  background-color: transparent;
  background-image: url("../images/slide-bg.png");
  background-repeat: no-repeat;
  float: left;
  height: 280px;
  margin-top: 12px;
  padding-left: 40px;
  padding-top: 28px;
  position: relative;
  right: 40px;
  width: 1110px;
  z-index: 10;
  behavior: url("sites/all/themes/oseds_t_ei2_omkaar_new/iepngfix/iepngfix.htc");
}

.views_slideshow_cycle_main {
  width: 100% !important;
}

.view-vco-slideshow .views-field-field-fimg-about-image img {
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 0 1px #333333;
  margin-left: 38px;
  max-width: 845px;
  width: 845px;
  behavior: url("sites/all/themes/oseds_t_ei2_omkaar_new/pie_files/PIE.htc");
}

.view-vco-slideshow .views-field-field-fimg-about-image img {
  position: relative;
  z-index: 12;
  behavior: url("sites/all/themes/oseds_t_ei2_omkaar_new/pie_files/PIE.htc");
}

/* super fish menu */
#block-superfish-2 {
  display: inline-block;
  height: 34px;
  left: 17px;
  width: 980px;
}

#block-superfish-2 h2.block-title {
  display: none;
}

.not-front #block-superfish-2 {
  display: inline-block;
  position: relative;
  left: -10px;
}

.sf-menu.sf-style-space li, .sf-menu.sf-style-space li li, .sf-menu.sf-style-space li li li, .sf-menu.sf-style-space.sf-navbar {
  background: none repeat scroll 0 0 transparent;
}

#block-superfish-2, .sf-menu.sf-style-space li, .sf-menu.sf-style-space li li, .sf-menu.sf-style-space li li li, .sf-menu.sf-style-space.sf-navbar {
  position: relative;
  z-index: 10;
}

.not-front #block-superfish-2 {
  left: 10px;
}

.sf-menu.sf-style-space li:hover, .sf-menu.sf-style-space li.sfHover, .sf-menu.sf-style-space li.active a, .sf-menu.sf-style-space a:hover, .sf-menu.sf-style-space a:active, .sf-menu.sf-style-space.sf-navbar li li {
  background: none repeat scroll 0 0 transparent;
  color: #FFFFFF;
}

.sf-menu.sf-style-space li.sfHover, .sf-menu.sf-style-space li.active a, .sf-menu.sf-style-space a:active, .sf-menu.sf-style-space.sf-navbar li li {
  background: none repeat scroll 0 0 #1C8A00;
  color: #FFFFFF;
  text-decoration: none;
}

.sf-menu.sf-style-space li.sfHover, .sf-menu.sf-style-space li.sfHover:focus, .sf-menu.sf-style-space a:focus {
  background: none repeat scroll 0 0 transparent;
  text-decoration: none;
}

.sf-menu.sf-style-space li li a {
  color: honeydew;
  background: none repeat scroll 0 0 #51A123;
}

.sf-menu.sf-style-space li li a:hover, .sf-menu.sf-style-space li li a:focus {
  background: none repeat scroll 0 0 #1C8A00;
  text-decoration: none;
}

.sf-menu.sf-style-space a {
  border: medium none;
  color: #E2475B;
  font-family: gooddogregular;
  font-size: 20px;
  font-variant: normal;
  font-weight: bold;
  letter-spacing: 1.5px;
  padding: 0.55em 1em;
  text-decoration: none;
}

li.first a.sf-depth-1, li.first a.sf-depth-1:hover {
  background: url("../images/home-icon-30.png") no-repeat scroll left top transparent;
  margin-right: 25px;
  margin-top: 6px;
  padding: 6px 0 0 33px;
}

/* main */
#main {
  padding-top: 2em;
  position: relative;
}

.not-front #main {
margin-top: 10px;
padding-top: 15px;
position: relative;
}

/* content */
.not-front #content {
padding-top: 0;
position: relative;
top: -15px;
}
  
.panel-2col .panel-col-first {
  float: left;
  width: 60.3%;
}

.panel-2col .panel-col-last {
  float: left;
  margin-left: 10px;
  width: 38%;
}
.front #header, .front #content {
  /*padding: 0 0;*/
}

.front #content {
  position: relative;
  top: -42px;
}

h1.title {
  color: steelblue;
  font-family: 'special_eliteregular',sans-serif;
  font-size: 30px;
  letter-spacing: 2px;
  text-shadow: 2px 1px 0 #FFFFFF;
  text-transform: uppercase;
}

h2.pane-title {
}

.panel-col-first .pane-1 h2.pane-title, .panel-col-last .pane-2 h2.pane-title{
  display: none;
}

.panel-pane h2 {
  color: steelblue;
  font-family: 'gooddogregular', sans-serif;
  font-size: 32px;
  letter-spacing: 2px;
  line-height: 1em;
  margin-bottom: 0;
  margin-top: 0;
  text-shadow: 3px 2px 1px rgb(255, 255, 255);
}

h4 {
  color: #335566;
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 0.3em;
  margin-top: 1em;
}

.about-and-branch {
  border-style: dashed;
  border-width: 2px;
  border-color: #86A733;
  -webkit-border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
  border-radius: 8px 8px 8px 8px;
  display: inline-block;
  margin-top: 20px;
  padding: 18px;
  behavior: url("sites/all/themes/oseds_t_ei2_omkaar_new/pie_files/PIE.htc");
}

.about-omkaar {
}

.branches {
  padding-top: 20px;
}

.branch {
}

.branche-img {
  border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  clear: both;
  display: inline-block;
  float: left;
  height: 70px;
  margin-right: 10px;
  width: 100px;
  behavior: url("sites/all/themes/oseds_t_ei2_omkaar_new/pie_files/PIE.htc");
}

.about-branch-1, .about-branch-2 {
  text-align: justify;
}

.about-branch-2 {
  margin-top: 28px;
}

.fun-img {
  position: fixed;
}

.fun {
}

.rabit {
  background-attachment: scroll;
  background-color: transparent;
  background-image: url("../images/rabit-fun.png");
  background-repeat: no-repeat;
  height: 142px;
  position: absolute;
  right: 95px;
  top: 130px;
  width: 80px;
  behavior: url("sites/all/themes/oseds_t_ei2_omkaar_new/pie_files/PIE.htc");
}

.not-front .rabit {
  position: absolute;
  right: 76px;
  top: 130px;
}

.horse {
  background-attachment: scroll;
  background-color: transparent;
  background-image: url("../images/horse-fun.png");
  background-repeat: no-repeat;
  height: 105px;
  left: 1052px;
  position: absolute;
  top: 166px;
  width: 100px;
  behavior: url("sites/all/themes/oseds_t_ei2_omkaar_new/pie_files/PIE.htc");
}

.not-front .horse {
  left: 1073px;
  position: absolute;
  top: 166px;
}

/* facility */
.pane-ei2-vent-facility .pane-content {
  padding: 15px 0 5px;
}

.views-field-field-fimg-facility-picture img {
  border: 1px solid #AAAAAA;
  border-radius: 5px;
  float: left;
  margin-right: 10px;
  width: 100px;
}

.views-field-field-fta-facility .field-content p {
  margin: 0.5em 0 1.5em;
  text-align: justify;
}

/* Right Column */
.pane-1 {
}

.little-franceschi {
  height: 260px;
  margin-top: 20px;
  padding: 20px;
  width: 292px;
}

.logo {
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin-bottom: 5px;
  behavior: url("sites/all/themes/oseds_t_ei2_omkaar_new/pie_files/PIE.htc");
}

.little-logo {
  height: 120px;
  width: 292px;
}

.about-little, .about-educomp {
  text-align: justify;
  width: 300px;
}

/* Educomp */
.educomp {
}

.educomp-logo {
  margin-top: 15px;
  width: 292px;
}

.about-educomp {
}

/* news */
.pane-vco-news, .little-franceschi {
  background-color: #D5F1FD;
  border-style: dashed;
  border-width: 2px;
  border-color: #EF7985;
  border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
  behavior: url("sites/all/themes/oseds_t_ei2_omkaar_new/pie_files/PIE.htc");
}

.pane-vco-news .pane-content, .pane-oseds-m-ei2-event-oseds-m-ei2-news, .view-ei2-ent-photos .field-content, .educomp {
  padding: 20px;
}

.pane-vco-news {
  margin-top: 25px;
}

.view-vco-news .views-field-body .field-content {
  margin-top: -15px;
  min-height: 35px;
}

.views-field-nothing .event-month-date {
  float: left;
  margin: 0 7px 0 -7px;
  width: 40px;
}

.views-field-body .field-content {

}

.view-footer a, .block-event-read-more a {
  position: relative;
  top: 10px;
}


/* event */
.event-month-date {
  text-align: center;
}

.event-month {
  color: brown;
  font-size: 14px;
  font-variant: small-caps;
  letter-spacing: 1px;
}

.event-date {
  color: olivedrab;
  font-size: 17px;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 1px;
}

.block-event-read-more a {
  left: 0;
  position: relative;
  top: 10px;
}

/* Gallery */
form#oseds-m-profile-gallery {
margin: 0;
padding: 0 10px;
}

table.profile-page-photos, table.profile-page-videos {
border-collapse: separate;
}

table.profile-page-photos tr td, table.profile-page-videos tr td {
padding-right: 18px;
}

table.profile-page-photos .title, table.profile-page-videos .title {
  background-color: black;
  color: white;
  left: 0;
  opacity: 0.6;
  padding: 5px;
  position: relative;
  top: -50px;
  width: 290px;
}

.page-gallery #main {
  border: 2px dashed #86A733;
  border-radius: 8px 8px 8px 8px;
}
