/* super-fish menu */
#superfish-1 {
margin-top: 122px;
position: absolute;
}

/*table td { /*content/front_page/facility
padding: 8px;
}

form th {   content/event 
background: none repeat scroll 0 0 wheat;
border-bottom: 3px solid #CCCCCC;
padding: 0.5em;
text-align: left;
}

.page-site-event-names td.views-field-title { /*site/event_names
color: #817253;
}

/** Left side pane **/
.panel-2col-stacked .panel-col-first{
width: 288px;
}
    
/*.sidebarfirst-event .views-field-title, .block-event-name .block-event-name-title a, .page-site-event-names .views-field-edit-link {site/event_names
color: #EC7876;
text-decoration: none;
}

/* event 
.pane-oseds-m-ei2-event-oseds-m-event-name, .block-oseds-m-ei2-event {
background: url("../images/event_bg.jpg");
font-size: 13px;
height: 255px;
margin: 24px 0 0 0;
padding: 93px 0 0 70px;
width: 220px;
}

.pane-oseds-m-ei2-event-oseds-m-event-name h2 {
display: none;
}

.block-event-title-date {
padding-bottom: 5px;
}

.pane-oseds-m-ei2-event-oseds-m-event-name .block-event-title-date {
padding-bottom: 10px;
}

.pane-oseds-m-ei2-event-oseds-m-event-name .block-event-name-title a {
color: #B9787E;
}

.pane-oseds-m-ei2-event-oseds-m-event-name .block-event-name-title a:hover {
color: indianred;
}*/

/* news */
.pane-oseds-m-ei2-event-oseds-m-ei2-news {
position: relative;
top: -130px;
}

.pane-oseds-m-ei2-event-oseds-m-ei2-news h2 {
display: none;
}

.pane-vco-news .pane-content {
margin: 45px 0 0 14px;
position: absolute;
width: 245px;
}

.pane-vco-news {
background: url("../images/news_bg.jpg"); 
height:397px;
width:280px;
}

.pane-vco-news .views-row {
margin-bottom: -15px;
}

.pane-vco-news .view-vco-news .views-field-nothing, .pane-vco-news .view-vco-news .views-field-body {
position: relative;
top: -12px;
}

.pane-vco-news .view-vco-news .views-field-body .field-content {
color: #A85D89;
}

.pane-vco-news .view-vco-news .views-field-body .views-label-body {
display: none;
}

.pane-vco-news .view-vco-news .views-field-nothing {
background-color: palevioletred;
border-radius: 70px 70px 70px 70px;
color: white;
float: left;
font-weight: bold;
margin-right: 10px;
padding: 7px 14px;
text-align: center;
width: 32px;
}

/* video */
.pane-oseds-m-profile-block-oseds-m-profile-videos {
background: url("../images/video_bg.png") no-repeat scroll 0 0 transparent;
position: relative;
right: 11px;
width: 290px;
}

.pane-oseds-m-profile-block-oseds-m-profile-videos h2.pane-title {
color: #FAFAFA;
padding: 13px 0 0 105px;
text-shadow: -1px 0 #000000;
transform: rotate(-8deg);
-ms-transform:rotate(-8deg); /* IE 9 */
-webkit-transform:rotate(-8deg); /* Chrome and safari */
}

.pane-oseds-m-profile-block-oseds-m-profile-videos .pane-content {
padding: 25px 0 0 60px;
}

/** Right side pane **/
.panel-2col-stacked .panel-col-last {
float: left;
width: 70%;
}

/* login */
.pane-user-login {
background-color: #FAE7D2;
border: 2px solid #EEDBC6;
border-radius: 5px 5px 5px 5px;
margin-left: 10px;
padding-left: 10px;
width: 266px;
}

/* slide show */
.slide-bg {
left: 294px;
position: absolute;
top: 99px;
z-index: 12;
}

.view-vco-slideshow .views-field-field-fimg-about-image img {
height: 317px; 
margin: 0 0 0 10px;
width: 640px;
position: relative;
z-index: -1;
}

/*.page-slideshow .view-display-id-page .views-field-title, .page-site-slideshow  .view-display-id-page .views-field-title { slideshow & site/slideshow
font-weight: bold;
padding-bottom: 3px;
}

.page-slideshow .view-display-id-page .views-field-field-fimg-slide-show img, .page-site-slideshow  .view-display-id-page .views-field-field-fimg-slide-show img { 
margin: 0;
height: 250px;
}

.page-slideshow .view-display-id-page p, .page-site-slideshow .view-display-id-page p {
margin: 0.5em 0;
text-align: justify;
}

.page-slideshow .view-display-id-page .views-row, .page-site-slideshow  .view-display-id-page  .views-row { /*end of slideshow & site/slideshow
padding-bottom: 15px;
}

.view-ei2-vent-slide-show-photos .views-field-nothing {
display: none;
}

/* front page about */
p, pre {
margin: 0.5em 0 1em;
text-align: justify;
}

.view-vco-about{
background: url("../images/about_bg.png");
height: 435px;
margin-left: 20px;
width: 654px;
}

.view-vco-about .view-content {
padding-top: 30px;
}

.page-front-blossom h2 {
margin-top: 0.2em;
margin-bottom: 0.2em;
}

.pane-ei2-vent-about h2.pane-title {
padding-top: 10px;
}

.views-field-field-fimg-about-image img {
float: left;
min-height: 100px;
padding: 5px 12px 0 15px;
}

.page-ims .views-field-body {
padding: 0 15px;
}

h2 {
color: #2A85AB;
}

h3 {
color: palevioletred;
}

/* photo */
.pane-oseds-m-profile-block-oseds-m-profile-photos {
background: url("../images/photo_bg.png") no-repeat scroll 0 0 transparent;
border-top-left-radius: 50px;
border-top-right-radius: 70px;
height: 315px;
margin-left: 20px;
}

.pane-oseds-m-profile-block-oseds-m-profile-photos h2.pane-title {
margin: 0 0 5px 12px;
padding-top: 10px;
}

.pane-oseds-m-profile-block-oseds-m-profile-photos .pane-content {
padding: 0 0 15px 15px;
}

.pane-oseds-m-profile-block-oseds-m-profile-photos .profile-page-videos img {
padding-right: 15px;
}

/* new Gallery */
form#oseds-m-profile-gallery {
margin: 0;
padding: 0 10px;
}

table.profile-page-photos, table.profile-page-videos {
border-collapse: separate;
}

table.profile-page-photos tr td, table.profile-page-videos tr td {
padding-right: 18px;
}

table.profile-page-photos .title, table.profile-page-videos .title {
background-color: black;
color: white;
left: 0;
opacity: 0.6;
padding: 5px;
position: relative;
top: -50px;
width: 290px;
}

/* facility 
.pane-ei2-vent-facility p {
margin: 0 0 1.4em;
text-align: justify;
}

.pane-ei2-vent-facility h4, .page-content-front-page-facility h4 {
font-size: 1em;
line-height: 1em;
margin-bottom: 0.4em;
margin-top: 0em;
}

.pane-ei2-vent-facility {
background: url("../images/facility_bg.png") no-repeat scroll 0 0 #FAE8D2;
border-radius: 35px 35px 35px 35px;
height: 400px;
margin: 0 0 0 21px;
padding: 0 15px;
width: 619px;
}

.views-field-field-fimg-facility-picture img {
border-radius: 5px;
float: left;
width: 100px;
}

.views-field-field-fta-facility .field-content {
float: left;
padding-left: 10px;
width: 509px;
}*/

/* about 
.page-about {
}

.posting {
color: peru;
}*/

/* curriculum 
.curriculum li{
list-style-type: disc;
padding-top: 10px;
position: relative;
top: -20px;
}

.curriculum-list {
line-height: 0;
display: list-item;
list-style-type: circle;
list-style-position: inside;
}*/

/* old gallery 
.page-about h1, .page-curriculum h1, .page-contacts h1, .page-gallery h1.title, .page-gallery-photos h1.event-title, .page-gallery-image-view h1.title, .page-login h1.title {
color: #4682B4; /*#CF8562
text-transform: uppercase;
}

.gallery-tbl .view-ei2-vrel-event-photos .views-field-field-fimg-photo {
border: 1px solid #AFAFAF;
margin: 0 30px 0px 0;
padding: 12px 10px 5px 11px;
width: auto;
}

.gallery-tbl .event-photo-name {
padding-bottom: 18px;
}

.gallery-tbl .view-ei2-vrel-event-photos {
padding-bottom: 5px;
}

.gallery-tbl .event-name {
 width: 244px;
}

.gallery-tbl .event-name a {
color: #335E97;
text-decoration: none;
text-transform: capitalize;
}

.page-gallery a:hover {
text-decoration: underline;
}

#oseds-m-ei2-gallery, .view-ei2-vent-gallery-event-photo .view-content, .attachment-after .view-footer{
padding-left: 54px;
}

.view-ei2-vent-gallery-event-photo  .views-field-field-fimg-photo {
float: left;
margin: 10px 40px 20px 0;
padding: 10px 0px 5px;
width: 220px;
}

.view-ei2-vent-gallery-event-photo .views-field-title {
}*/

/* space between video 
.views-field-field-fta-video .field-content {
padding-right: 43px;
}

/* single Photo 
.view-ei2-vent-gallery-single-photo .view-content{
padding-bottom: 20px;
}

.view-ei2-vent-gallery-single-photo .views-label {
color: #9E4F2F;
}

.view-ei2-vent-gallery-single-photo .views-field-name {
}

.view-ei2-vent-gallery-single-photo .views-field-field-fimg-photo {
border-bottom: 1px solid #AFAFAF;
margin: 15px 0 20px;
padding-bottom: 20px;
text-align: center;
}

.view-ei2-vent-gallery-single-photo .views-field-field-fta-picture-about {
padding-bottom:20px;
}

.view-ei2-vent-gallery-single-photo .views-field-edit-link {
float:right;
width: 54px;
}

/* Contact */
.view-ei2-vent-contact-page .views-label {
font-weight: bold;
}

/* Login */
.block-user label {
color: lightslategray;
}

.form-required {
color: #5F8EBD;
}

.block-user input.form-text {
border: 1px solid lightsteelblue;
border-radius: 5px 5px 5px 5px;
box-shadow: 0 0 2px lightblue;
color: lightslategray;
height: 27px;
margin-top: 5px;
width: 250px;
}

.block-user input.form-text:focus {
}

.block-user .item-list {
display: none;
}

.form-actions input[type="submit"] {
background: none repeat scroll 0 0 lightslategray;
border: medium none;
border-radius: 5px 5px 5px 5px;
color: #FFFFFF;
height: 34px;
width: 75px;
}

.form-actions input[type="submit"]:hover {
background: none repeat scroll 0 0 steelblue;
font-style: bold;
}

/* profile 
.pane-ei2-vrelprofile-view-page h2 {
font-size: 1.5em;
line-height: 2em;
margin-bottom: 0;
margin-top: 0.5em;
}

.page-myspace-profile .panel-2col-stacked .panel-col-last .inside {
margin: 0 0 1em 0;
}

.view-ei2-vrelprofile-view-page .views-field .views-label {
float: left;
width: 118px;
font-weight: bold;
}

.view-ei2-vrelprofile-view-page .views-field .field-content {
float: none;
}*/
